/*
    Stylesheet for Sourcing Setup tab. StyleName prefix - "setup_"
*/

#setup_form_wrapper {
    font-size: 13px; /* TODO find a way to reset inherited CSS styles from LifeRay */
}
.setup_form_section {
    width: 100%;
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 7px;
}

.setup_section_title {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

#setup_form_wrapper label:after {
    content:":";
}

.setup_form_table {
    width: 100%;
    margin-bottom: 8px;
    border-collapse: separate;
}

.setup_form_table td, .setup_form_table th {
    padding: 3px; /* cellpadding */
}

.setup_max_width {
    width: 100%;
}

#setup-btn-panel {
    float: right;
}

.sourcing_list_table {
    width: 100%;
    margin-bottom: 8px;
    border-collapse: collapse;
    border: 1px solid #666666;
    box-shadow: 3px 3px 2px #888888;
}

.sourcing_list_table tr:first-child td{
    background-color:#666666;
    text-align:left;
    font-weight:bold;
    color:#ffffff;
}

.sourcing_list_table tr:nth-child(odd) {
    background-color: #e5e5e5;
}

.sourcing_list_table tr:nth-child(even) {
    background-color: #ffffff;
}

.sourcing_list_table td {
    border: 1px solid #666666;
    border-width: 0px 1px 0px 0px;
    vertical-align: middle;
    text-align: left;
    padding: 7px;
    font-weight: normal;
    color: #000000;
}

.sourcing_list_table tr:hover{
    background-color: #C3D9FF;
}


button.selected-button {
    background:#878787;
   
    color:rgba(255, 255, 255, 0);
	width:70px;
	margin: 0px;
	border-radius:0px;
}
button.ordinal-button {
	width:70px;
	margin: 0px;
	border-radius:0px;
}

